<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smart mortgage</title>
    <link rel="stylesheet" href="http://localhost:3001/stylesheets/bootstrap.min.css" />

    <script type="text/javascript">

        const setMortgageData = (field, e) => {
            setTimeout(() => fetch('/setMortgageData', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }, body: JSON.stringify({ field, value: e.target.value.toString() })
            }), 1000);
        }

        const setPrepaymentData = (field, e, index) => {
            setTimeout(() => fetch('/setPrepaymentData', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }, body: JSON.stringify({ field, value: e.target.value.toString(), row: index })
            }), 1000);
        }

        function submitToCalculate() {
            fetch("/calculate", {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: ''
            })
        }

    </script>
    <script type="text/javascript" src="http://localhost:3001/javascripts/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-color: linen;
        }

        h1 {
            color: maroon;
        }

        input {
            width: 10rem;
            text-align: center;
            margin-right: 1rem;
        }

        main {
            padding: 1rem;
            margin: 1rem;
        }

        table input {
            text-align: center;
        }

        table th {
            text-align: center;
        }

        table td {
            text-align: center;
        }

        thead {
            position: sticky;
            top: 0;
            background: darkseagreen;
        }

        .form-boxes {
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
        }

        .mark_today {
            background-color: cadetblue;
        }
    </style>
</head>

<body class="">

    <header>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Smart-mortgage with prepayments</h1>
        </div>
        <div class="mt-5 ml-5 mr-5">
            <form id="mortgage-data" key="mortgage-data" name="mortgage-data" class="d-flex w-50 flex-wrap"
                style="min-width:700px;">
                <div class="border border-success rounded p-3">
                    <h4 class="">Loan terms</h4>
                    <div class="p-1 w-100 d-inline-flex form-boxes"> <span class="w-50"> Amount (60%: <%=
                                mortgage.amount * 0.6 %>): </span>
                        <input name="amount" id="amount" onchange="setMortgageData('amount',event)"
                            value="<%= mortgage.amount %>" />
                    </div>
                    <div class="p-1 w-100 d-inline-flex form-boxes"> <span class="w-50"> Rate: </span>
                        <input name="rate" id="rate" onchange="setMortgageData('rate',event)"
                            value="<%= mortgage.rate %>" />
                    </div>
                    <div class="p-1 w-100 d-inline-flex form-boxes"> <span class="w-50"> Start date(mm/dd/yyyy): </span>
                        <input name="startDate" id="startDate" onchange="setMortgageData('startDate',event)"
                            value="<%= mortgage.startDate %>" type="date" />
                    </div>
                    <div class="p-1 w-100 d-inline-flex form-boxes"> <span class="w-50"> Duration (years): </span>
                        <input name="duration" id="duration" onchange="setMortgageData('duration',event)"
                            value="<%= mortgage.duration %>" />
                    </div>
                </div>
                <div id="prepayments" class="border border-info rounded p-3 mt-5 w-100">
                    <div class="w-100 justify-content-between d-inline-flex ">
                        <h4 class="">Prepayments</h4>
                        <button class="btn btn-success m-1" onclick="fetch('/addPrepayment', { method: 'POST', body: '' });
                            window.location.reload();  return false;">Add</button>
                    </div>
                    <ul class=" w-100" style="list-style-type: none; padding-inline-start:0; ">
                        <% mortgage.prepayments.forEach(function(m, i) { %>
                            <li class="d-inline-flex flex-wrap w-100 form-boxes">
                                <div class="p-1 d-inline-flex"> <span class="p-1 m-auto"> Date: </span>
                                    <input style="width:150px; margin-left: 1rem; " type="date" name="date<%= i %>"
                                        value="<%= m.date %>" onchange="setPrepaymentData('date',event, '<%= i %>')" />
                                </div>
                                <div class="p-1 d-inline-flex"> <span class="p-1 m-auto"> Amount: </span>
                                    <input class="" style="width:120px; margin-left: 1rem;" name="amount<%= i %>"
                                        value="<%= m.amount %>"
                                        onchange="setPrepaymentData('amount',event, '<%= i %>')" />
                                </div>
                                <button class="btn btn-danger m-1"
                                    onclick="fetch('/removePrepayment?index=<%= i %>',{method:'POST', body:''}); window.location.reload(); return false;">Remove</button>
                            </li>
                            <% }) %>
                    </ul>
                </div>
                <input type="button" class="btn btn-primary mt-5" value="Calculate"
                    onclick="submitToCalculate(); window.location.reload(); return false;" />
            </form>
            <br />
            <section>
                <h4>Results</h4>
                <%- include('./results'); %>
            </section>
        </div>
    </main>

    <footer>
    </footer>

</body>

</html>